main{
    display: flex;
}
aside{
    width: 10%;
    display:block;
    color: white;
    background: palevioletred;
}
aside p,aside h3, aside a{
    display: flex;
    justify-content: center;
}
section{
    width: 90%;
}
aside img{
    width: 40px;
    height: 40px;
}
.pogoda{
    display: flex;
    justify-content: center;
}
.imggg{
    background-image: url("../images/tex.jpg");
    background-size: cover;
    width: 550px;
    height: 350px;
}