* {
    box-sizing: border-box;
}
img {
    max-height: 100%;
    height: 539px;
}
a {
    text-decoration: none;
    color: rgb(23, 3, 43);
}
.intro {
    max-width: 20%;
    padding: 5px;
    background-color: rgb(252, 252, 197);
}
.button {
    position: fixed;
    padding: 10px;
    background-color: aquamarine;
    right: 10px;
    bottom: 10px;
    color: purple;
}
.k {
    background-color: rgb(194, 194, 194);
}
h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
.nav_class{
    background: darkorchid;
    padding: 1%;
    display: flex;
}
nav a{
    margin-right: 10px;
}
body{
    background: #5c11be;
    margin: 0 auto;
}
header{
    margin: 0 auto;
}

div,p,a{
    font-size: 16px;
}
.vhod{
    padding-bottom: 10px;
    align-items: center;
    display: block;
    position: absolute;
    right: 0;
}
section p,h2{
    color: white;
}
main{
    margin-top: 30px;
    margin-left: 8px;
    margin-right: 8px;
}
.content{
    display: flex;
    flex-wrap: nowrap;
}
.navoki{
    max-height: 100%;
    height: 230px;
}
.navokibol{
    max-height: 100%;
    height: 200px;
}
footer {
    padding: 20px; 
    text-align: center; 
  }