*{
	margin: 0;
	padding: 0;
}
body {
	width: 40%;
	margin: 0 auto;
}
.header1{
	background: rgb(22, 126, 185);
	color: white;
	display: flex;
	justify-content: space-between;
	height: max-content;
	align-items: center;
}
.header1 h2{
	width: 90%;
	font-size: 50px;
	text-align: center;
} 
.header1 img{
	border-left: 1px solid #fff;
	padding: 20px;
	height: 50px;
	width: 50px;
}
.block_inner {
	border-left: 10px solid green;
}
.block_inner2 {
	border-left: 10px solid rgb(13, 131, 199);
}
.block_inner3 {
	border-left: 10px solid rgb(180, 7, 65);
}
.block_inner4 {
	border-left: 10px solid rgb(207, 131, 16);
}
.block_inner5 {
	border-left: 10px solid rgb(13, 131, 199);
}
.block_inner6 {
	border-left: 10px solid rgb(180, 7, 65);
}
.who {
	display: flex;
	align-items: center;
	gap: 10px;
}
.who h3 , .name p { 
	font-size: 24px;
}
.name p {
	color: rgb(74, 156, 156) ;
}
.name{
	margin: 0 auto;
	width: 95%;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.verh{
	font-size: 20px;
	padding-left: 20px;
	padding-top: 20px; ;
}
.niz{
	font-size: 20px;
	padding-left: 20px;
	padding-top: 3px;
	color:rgb(185, 185, 185);
	width: 100%;
}
.block{
	background: #F6F2F1 ;
	border-bottom: 1px solid #E4E0DF ;
	border-right: 1px solid #E4E0DF ;
}